@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The purpose of this project was to create a small web app 
displaying SpaceX launch information in a table.</p>

<hr/>

<p>I tackled this project by researching Asp.net, Visual Studio, and other relevant
 technologies in advance. I downloaded Visual Studio 2017 for MacOS, intialized &amp; created an 'Asp.net
 MVC Web Application Project', included the Kendo UI dependencies into the wwwroot directory, then began
 writing jquery code to properly request the SpaceX json data and format it into the Kendo UI grid. The
 most time was spent reading the Kendo UI &amp; Asp.net MVC 5 documentation, and properly going through steps
 to host the project on Azure.</p>


<h4>Tools/Technologies Used</h4>
<ul>
    <li>Asp.net MVC 5</li>
    <li>jQuery</li>
    <li>Kendo UI</li>
    <li>Visual Studio 2017 (for MacOS)</l>
    <li><a href="https://github.com/r-spacex/SpaceX-API">SpaceX-API</a></li>
    <li>Azure</li>
</ul>

<p>The project repository exists <a href="http://www.github.com/jakekemple/LaunchCast">here</a>.</p>
